{% extends 'base.html.twig' %}

{% block title %}Vrijvragen index{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <p class="text-center">In behandeling</p>
            <table class="table table-striped">
                <thead class="maincolor">
                <tr class="whitetext">
{#                    <th>Id</th>#}
                    <th>Begindatum</th>
{#                    <th>Einddatum</th>#}
                    <th>Uren</th>
{#                    <th>Begintijd</th>#}
{#                    <th>Eindtijd</th>#}
                    <th>Reden</th>
{#                    <th>Goedgekeurd</th>#}
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for vrijvragen in vrijvragens if vrijvragen.goedgekeurd == 'behandeling' %}

                <tr>
{#                            <td>{{ vrijvragen.id }}</td>#}
                            <td>{{ vrijvragen.begindatum ? vrijvragen.begindatum|date('Y-m-d') : '' }}</td>
{#                            <td>{{ vrijvragen.einddatum ? vrijvragen.einddatum|date('Y-m-d') : '' }}</td>#}
                            <td>{{ vrijvragen.uren }}</td>
{#                            <td>{{ vrijvragen.begintijd ? vrijvragen.begintijd|date('H:i:s') : '' }}</td>#}
{#                            <td>{{ vrijvragen.eindtijd ? vrijvragen.eindtijd|date('H:i:s') : '' }}</td>#}
                            <td>{{ vrijvragen.reden }}</td>
{#                            <td>{{ vrijvragen.goedgekeurd ? 'Yes' : 'No' }}</td>#}
                            <td>
                                <a href="{{ path('vrijvragen_show', {'id': vrijvragen.id}) }}">show</a>
                                <a href="{{ path('vrijvragen_edit', {'id': vrijvragen.id}) }}">edit</a>
                            </td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="9">no records found</td>
                        </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <p class="text-center">Goedgekeurd</p>
            <table class="table table-striped">
                <thead class="maincolor">
                <tr class="whitetext">
{#                    <th>Id</th>#}
                    <th>Begindatum</th>
{#                    <th>Einddatum</th>#}
                    <th>Uren</th>
{#                    <th>Begintijd</th>#}
{#                    <th>Eindtijd</th>#}
                    <th>Reden</th>
{#                    <th>Goedgekeurd</th>#}
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for vrijvragen in vrijvragens if vrijvragen.goedgekeurd == 'goedgekeurd' %}

                <tr>
{#                            <td>{{ vrijvragen.id }}</td>#}
                            <td>{{ vrijvragen.begindatum ? vrijvragen.begindatum|date('Y-m-d') : '' }}</td>
{#                            <td>{{ vrijvragen.einddatum ? vrijvragen.einddatum|date('Y-m-d') : '' }}</td>#}
                            <td>{{ vrijvragen.uren }}</td>
{#                            <td>{{ vrijvragen.begintijd ? vrijvragen.begintijd|date('H:i:s') : '' }}</td>#}
{#                            <td>{{ vrijvragen.eindtijd ? vrijvragen.eindtijd|date('H:i:s') : '' }}</td>#}
                            <td>{{ vrijvragen.reden }}</td>
{#                            <td>{{ vrijvragen.goedgekeurd ? 'Yes' : 'No' }}</td>#}
                            <td>
                                <a href="{{ path('vrijvragen_show', {'id': vrijvragen.id}) }}">show</a>
                                <a href="{{ path('vrijvragen_edit', {'id': vrijvragen.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">no records found</td>
                        </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <p class="text-center">Afgekeurd</p>
            <table class="table table-striped">
                <thead class="maincolor">
                <tr class="whitetext">
                    {#                    <th>Id</th>#}
                    <th>Begindatum</th>
                    {#                    <th>Einddatum</th>#}
                    <th>Uren</th>
                    {#                    <th>Begintijd</th>#}
                    {#                    <th>Eindtijd</th>#}
                    <th>Reden</th>
                    {#                    <th>Goedgekeurd</th>#}
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for vrijvragen in vrijvragens if vrijvragen.goedgekeurd == 'afgekeurd' %}
                        <tr>
                            {#                            <td>{{ vrijvragen.id }}</td>#}
                            <td>{{ vrijvragen.begindatum ? vrijvragen.begindatum|date('Y-m-d') : '' }}</td>
                            {#                            <td>{{ vrijvragen.einddatum ? vrijvragen.einddatum|date('Y-m-d') : '' }}</td>#}
                            <td>{{ vrijvragen.uren }}</td>
                            {#                            <td>{{ vrijvragen.begintijd ? vrijvragen.begintijd|date('H:i:s') : '' }}</td>#}
                            {#                            <td>{{ vrijvragen.eindtijd ? vrijvragen.eindtijd|date('H:i:s') : '' }}</td>#}
                            <td>{{ vrijvragen.reden }}</td>
                            {#                            <td>{{ vrijvragen.goedgekeurd ? 'Yes' : 'No' }}</td>#}
                            <td>
                                <a href="{{ path('vrijvragen_show', {'id': vrijvragen.id}) }}">show</a>
                                <a href="{{ path('vrijvragen_edit', {'id': vrijvragen.id}) }}">edit</a>
                            </td>
                        </tr>
                {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <p class="text-center">Ziek</p>
            <table class="table table-striped">
                <thead class="maincolor">
                <tr class="whitetext">
                    {#                <th>Id</th>#}
                    <th>Datum</th>
                    <th>Datumbeter</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for ziek in zieks %}
                    <tr>
                        {#                <td>{{ ziek.id }}</td>#}
                        <td>{{ ziek.datum ? ziek.datum|date('Y-m-d') : '' }}</td>
                        <td>{{ ziek.datumbeter ? ziek.datumbeter|date('Y-m-d') : '' }}</td>
                        <td>
                            <a href="{{ path('ziek_show', {'id': ziek.id}) }}">show</a>
                            <a href="{{ path('ziek_edit', {'id': ziek.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="col">
            <p class="text-center">Te Laat</p>
            <table class="table table-striped">
                <thead class="maincolor">
                <tr class="whitetext">
{#                    <th>Id</th>#}
                    <th>Datum</th>
                    <th>Tijd</th>
                    <th>Naam</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for telaat in telaats %}
                    <tr>
{#                        <td>{{ telaat.id }}</td>#}
                        <td>{{ telaat.datum ? telaat.datum|date('Y-m-d') : '' }}</td>
                        <td>{{ telaat.tijd ? telaat.tijd|date('H:i:s') : '' }}</td>
                        <td>{{ telaat.userId }}</td>
                        <td>
                            <a href="{{ path('telaat_show', {'id': telaat.id}) }}">show</a>
                            <a href="{{ path('telaat_edit', {'id': telaat.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{#    <a href="{{ path('vrijvragen_new') }}" class="btn btn-success greenbutton">Create new</a>#}
{% endblock %}
