{% extends 'base.html.twig' %}

{% block title %}Nieuws{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead class="maincolor">
        <tr class="whitetext">
            <th>Nieuws</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nieuw.id }}</td>
            </tr>
            <tr>
                <th>Titel</th>
                <td>{{ nieuw.titel }}</td>
            </tr>
            <tr>
                <th>Omschrijving</th>
                <td>{{ nieuw.omschrijving }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ nieuw.datum ? nieuw.datum|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>{{ nieuw.foto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('nieuws_index') }}" class="btn btn-primary bluebutton">back to list</a>

    <a href="{{ path('nieuws_edit', {'id': nieuw.id}) }}" class="btn btn-success greenbutton float-right">edit</a>

    {{ include('nieuws/_delete_form.html.twig') }}
{% endblock %}
