{% extends 'base.html.twig' %}

{% block title %}Hello DownloadsenHandigelinksController!{% endblock %}

{% block body %}


    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="maincolor">
                <tr class="whitetext">
{#                    <th>Id</th>#}
                    <th class="text-center">Downloadlinks</th>
{#                    <th>Downloadlink</th>#}
                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <th></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for download in downloads %}
                    <tr>
{#                        <td>{{ download.id }}</td>#}
                        <td class="text-center"><a href="{{ download.downloadlink }}" target="_blank">{{ download.naam }}</a></td>
{#                        <td>{{ download.downloadlink }}</td>#}
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <td>
                            <a class="btn btn-success greenbutton" href="{{ path('downloads_show', {'id': download.id}) }}"><i class="fas fa-eye"></i></a>
                            <a class="btn btn-warning" href="{{ path('downloads_edit', {'id': download.id}) }}"><i class="fas fa-edit"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-striped">
                <thead class="maincolor">
                <tr class="whitetext">
{#                    <th>Id</th>#}
                    <th class="text-center">Handige links</th>
{#                    <th>Downloadlink</th>#}
                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <th></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for handige_link in handige_links %}
                    <tr>
{#                        <td>{{ handige_link.id }}</td>#}
                        <td class="text-center"><a href="{{ handige_link.downloadlink }}" target="_blank">{{ handige_link.Unaam }}</a></td>
{#                        <td>{{ handige_link.downloadlink }}</td>#}
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <td>
                            <a class="btn btn-success greenbutton" href="{{ path('handige_links_show', {'id': handige_link.id}) }}"><i class="fas fa-eye"></i></a>
                            <a class="btn btn-warning" href="{{ path('handige_links_edit', {'id': handige_link.id}) }}"><i class="fas fa-edit"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
