{% extends 'base.html.twig' %}

{% block title %}Downloads{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead class="maincolor">
        <tr class="whitetext">
            <th>Downloads</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ download.id }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ download.naam }}</td>
            </tr>
            <tr>
                <th>Downloadlink</th>
                <td>{{ download.downloadlink }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('downloads_index') }}" class="btn btn-primary bluebutton">back to list</a>

    <a href="{{ path('downloads_edit', {'id': download.id}) }}" class="btn btn-success greenbutton float-right">edit</a>

    {{ include('downloads/_delete_form.html.twig') }}
{% endblock %}
