{% extends 'base.html.twig' %}

{% block title %}HandigeLinks index{% endblock %}

{% block body %}
    <h1>HandigeLinks index</h1>

    <table class="table table-striped">
        <thead class="maincolor">
            <tr class="whitetext">
                <th>Id</th>
                <th>Unaam</th>
                <th>Downloadlink</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for handige_link in handige_links %}
            <tr>
                <td>{{ handige_link.id }}</td>
                <td>{{ handige_link.Unaam }}</td>
                <td>{{ handige_link.downloadlink }}</td>
                <td>
                    <a href="{{ path('handige_links_show', {'id': handige_link.id}) }}">show</a>
                    <a href="{{ path('handige_links_edit', {'id': handige_link.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('handige_links_new') }}" class="btn btn-success greenbutton">Create new</a>
{% endblock %}
