{% extends 'base.html.twig' %}

{% block title %}HandigeLinks{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead class="maincolor">
        <tr class="whitetext">
            <th>HandigeLinks</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ handige_link.id }}</td>
            </tr>
            <tr>
                <th>Unaam</th>
                <td>{{ handige_link.Unaam }}</td>
            </tr>
            <tr>
                <th>Downloadlink</th>
                <td>{{ handige_link.downloadlink }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('handige_links_index') }}" class="btn btn-primary bluebutton">back to list</a>

    <a href="{{ path('handige_links_edit', {'id': handige_link.id}) }}" class="btn btn-success greenbutton float-right">edit</a>

    {{ include('handige_links/_delete_form.html.twig') }}
{% endblock %}
